<!DOCTYPE html>
<html>
<head>
<title>Page not found</title>

<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">

<script src="assets/js/jquery-3.3.1.slim.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
</head>
<body>

	<h1 class="center">Account activated</h1>
	<p class="center" style="color: #666;">Thanks for creating an
		account in Okla. Now you can sign in on the app.</p>
	<script src="assets/js/404.js"></script>
</body>
<style>
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
</style>