<html>

<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<body>
	<!--Section: Block Content-->
	<section style="padding-left: 35%;">

		<div class="container">

			<!-- Grid row -->
			<div class="row">

				<!-- Grid column -->
				<div>

					<!--Section: Block Content-->
					<section>

						<h1>Set a new password</h1>

						<form  action="/reset-password" method="post" onsubmit="return validateForm()">
							<span style="display: inline-block; color: red;" id="errorSpan"></span>
							<div class="md-form md-outline">
								<label data-error="wrong" data-success="right" for="newPass">New
									password</label> <input name="newPassword" type="password" id="newPass"
									class="form-control">
							</div>

							<div class="md-form md-outline">
								<label data-error="wrong" data-success="right"
									for="newPassConfirm">Confirm password</label> <input
									type="password" id="newPassConfirm" name="confirmPassword" class="form-control">

							</div>
							<input type="hidden" name="token" th:value="${token}">
							<button style="margin-top: 2%; margin-left: 77%;"
								class="btn btn-primary mb-4 waves-effect waves-light">Confirm</button>

						</form>
				</div>
	</section>
	<!--Section: Block Content-->

	</div>
	<!-- Grid column -->

	</div>
	<!-- Grid row -->

	</div>

	</section>

</body>
<script>
	function validateForm() {
		var newPass = document.getElementById('newPass');
		var newPassConfirm = document.getElementById('newPassConfirm');
		var errorSpan = document.getElementById('errorSpan')
		errorSpan.textContent = "";		
		var regularExpression = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9_ !@#$%^&*]{9,}$/;
		if (!regularExpression.test(newPass.value)) {
			errorSpan
			newPass.style = "outline: 2px red solid"
			errorSpan.textContent = "Password should contain digits and special characters. Minimum length is 9."
			return false
		}
		if (newPass.value !== newPassConfirm.value) {
			newPass.style = "outline: 2px red solid"
			newPassConfirm.style = "outline: 2px red solid"
			errorSpan.textContent += "Passwords doesn't match"
			return false;
		}
		return true
	}
</script>
</html>